NODE_ENV="development"

# Probablemente debamos dejar solo DATABASE_URL, y tambien borrar el NODE_ENV
DATABASE_URL_DEV="postgresql://postgres.iqpciwvrrbxqukeosgmw:ticketerapassesteban@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DATABASE_URL="postgresql://postgres.iqpciwvrrbxqukeosgmw:ticketerapassesteban@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Necesario para las migraciones con prisma
DIRECT_URL="postgresql://postgres.iqpciwvrrbxqukeosgmw:ticketerapassesteban@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

PORT=3333
JWT_SECRET="secreto"
FRONTEND_URL="http://localhost:3000" # Ponele tu puerto

# Para Mercado Pago
MP_PUBLIC_KEY=""
MP_ACCESS_TOKEN=""