NODE_ENV="development"

# Your database URL
DATABASE_URL_DEV=""

# Only for migrations
DIRECT_URL=""

PORT=3333
JWT_SECRET="some-secret"
FRONTEND_URL="http://localhost:3000" # sync with your local frontend_url

# For Mercado Pago
MP_PUBLIC_KEY=""
MP_ACCESS_TOKEN=""